<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="../js/account-info.js"></script>
    <title>Account Dashboard</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="http://">Home</a>
      <a href="http://">My Dashboard</a>
      <a href="http://">Add a Recipe</a>
    </div>
    <div class="main">
      <div class="account-info">
        <button>Update Account</button>
        <h3>Email: ${user.Email}</h3>
        <h3>Username: ${user.Username}</h3>
        <button>Change Password</button>
        <button>Delete Account</button>
      </div>
      <div class="recipes-created">
        <div class="recipe-card">
          <button>Edit Recipe</button>
          <div class="recipe-name">Name</div>
          <div class="recipe-img">
            <a href=""
              ><img
                src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                alt="HTML tutorial"
                style="width: 100px; height: 80px"
            /></a>
          </div>
          <button>Delete Recipe</button>
        </div>
        <div class="recipe-card">
          <button>Edit Recipe</button>
          <div class="recipe-name">Name</div>
          <div class="recipe-img">
            <a href=""
              ><img
                src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                alt="HTML tutorial"
                style="width: 100px; height: 80px"
            /></a>
          </div>
          <button>Delete Recipe</button>
        </div>
        <div class="recipe-card">
          <button>Edit Recipe</button>
          <div class="recipe-name">Name</div>
          <div class="recipe-img">
            <a href=""
              ><img
                src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                alt="HTML tutorial"
                style="width: 100px; height: 80px"
            /></a>
          </div>
          <button>Delete Recipe</button>
        </div>
        <div class="recipe-card">
          <button>Edit Recipe</button>
          <div class="recipe-name">Name</div>
          <div class="recipe-img">
            <a href=""
              ><img
                src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                alt="HTML tutorial"
                style="width: 100px; height: 80px"
            /></a>
          </div>
          <button>Delete Recipe</button>
        </div>
        <div class="recipe-card">
          <button>Edit Recipe</button>
          <div class="recipe-name">Name</div>
          <div class="recipe-img">
            <a href=""
              ><img
                src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                alt="HTML tutorial"
                style="width: 100px; height: 80px"
            /></a>
          </div>
          <button>Delete Recipe</button>
        </div>
        <div class="recipe-card">
          <button>Edit Recipe</button>
          <div class="recipe-name">Name</div>
          <div class="recipe-img">
            <a href=""
              ><img
                src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                alt="HTML tutorial"
                style="width: 100px; height: 80px"
            /></a>
          </div>
          <button>Delete Recipe</button>
        </div>
      </div>
    </div>
  </body>
</html>
