<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link defer rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/create-recipe.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="http://">Home</a>
      <a href="http://">My Dashboard</a>
      <a href="http://">Add a Recipe</a>
    </div>
    <div class="create-recipe">
      <h1>Create a recipe</h1>
      <h3>Tips for uploading a quality recipe:</h3>
      <ol>
        <li>
          A descriptive title. "Grandma's Casserole" doesn't tell us much, but
          "Grandma's Spinach and Cream Chicken Casserole" does!
        </li>
        <li>
          Accurate Measurements. We know that, often, family recipes are "a
          pinch of this" and "a bunch of that" but our advice is to take
          measurements the next time you make it to update amounts so others can
          enjoy it exactly as intended.
        </li>
        <li>
          Add your family's story. We want to hear why this recipe is special to
          you and yours to help bring us closer.
        </li>
      </ol>
      <input
        type="text"
        class="create-recipe"
        name="recipe-name"
        id="recipe-name"
        placeholder="Recipe Name"
      />
      <input
        type="text"
        class="create-recipe"
        name="recipe-image"
        id="recipe-image"
        placeholder="Enter the image URL for your recipe"
      />
      <textarea
        name="ingredients"
        class="create-recipe"
        id="ingredients"
        cols="30"
        rows="10"
        placeholder="Enter the ingredients"
      ></textarea>
      <textarea
        name="instructions"
        id="instructions"
        cols="30"
        rows="10"
        class="create-recipe"
        placeholder="Enter the instructions"
      ></textarea>
      <textarea
        name="family-story"
        id="family-story"
        cols="30"
        rows="10"
        class="create-recipe"
        placeholder="Tell us more about this recipe"
      ></textarea>
      <button type="submit" class="create-recipe" id="create-recipe-submit">
        Submit
      </button>
    </div>
  </body>
</html>
