<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link defer rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/create-recipe.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="create-recipe">
      <h1>Create a recipe</h1>
      <input
        type="text"
        class="create-recipe"
        name="recipe-name"
        id="recipe-name"
        placeholder="Recipe Name"
      />
      <input
        type="text"
        class="create-recipe"
        name="recipe-image"
        id="recipe-image"
        placeholder="Enter the image URL for your recipe"
      />
      <textarea
        name="ingredients"
        class="create-recipe"
        id="ingredients"
        cols="30"
        rows="10"
        placeholder="Enter the ingredients"
      ></textarea>
      <textarea
        name="instructions"
        id="instructions"
        cols="30"
        rows="10"
        class="create-recipe"
        placeholder="Enter the instructions"
      ></textarea>
      <button type="submit" class="create-recipe" id="create-recipe-submit">
        Submit
      </button>
    </div>
  </body>
</html>
