<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="http://">Home</a>
      <a href="http://">My Dashboard</a>
      <a href="http://">Add a Recipe</a>
    </div>
    <div class="container">
      <div class="intro">
        <h1>Grab a Plate!</h1>
        <p>
          If you are here, you are like us. You love food. We created
          Everybody's Favorite Plate based of the fond memories we all have of
          our favorite family meal. For one, it is the grilled cheese their wife
          makes every Tuesday with 1 slice of tomato and 3 strips of bacon. For
          another, it is their grandmother's homemade tamales. And for yet
          another, it is the 4th generation sticky buns and the long standing
          family debate on whether nuts should be added. Food brings us
          together, and everyone's family recipes shared here can help heal this
          world just a little bit more, bite by bite. Feel free to save recipes,
          upload your own, and start cooking!
        </p>
      </div>
      <div class="main">
        <div class="recipes">
          <div class="recipe-card">
            <div class="recipe-name">Name</div>
            <div class="recipe-img">
              <a href=""
                ><img
                  src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                  alt="HTML tutorial"
                  style="width: 100px; height: 80px"
              /></a>
            </div>
            <button>Save Recipe</button>
          </div>
          <div class="recipe-card">
            <div class="recipe-name">Name</div>
            <div class="recipe-img">
              <a href=""
                ><img
                  src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                  alt="HTML tutorial"
                  style="width: 100px; height: 80px"
              /></a>
            </div>
            <button>Save Recipe</button>
          </div>
          <div class="recipe-card">
            <div class="recipe-name">Name</div>
            <div class="recipe-img">
              <a href=""
                ><img
                  src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                  alt="HTML tutorial"
                  style="width: 100px; height: 80px"
              /></a>
            </div>
            <button>Save Recipe</button>
          </div>
          <div class="recipe-card">
            <div class="recipe-name">Name</div>
            <div class="recipe-img">
              <a href=""
                ><img
                  src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                  alt="HTML tutorial"
                  style="width: 100px; height: 80px"
              /></a>
            </div>
            <button>Save Recipe</button>
          </div>
          <div class="recipe-card">
            <div class="recipe-name">Name</div>
            <div class="recipe-img">
              <a href=""
                ><img
                  src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                  alt="HTML tutorial"
                  style="width: 100px; height: 80px"
              /></a>
            </div>
            <button>Save Recipe</button>
          </div>
          <div class="recipe-card">
            <div class="recipe-name">Name</div>
            <div class="recipe-img">
              <a href=""
                ><img
                  src="https://media.istockphoto.com/vectors/meal-breaks-vector-line-icon-simple-thin-line-icon-premium-quality-vector-id1267161539?k=20&m=1267161539&s=612x612&w=0&h=Ohn7N00XfmTOoGhEQHLZ6QlWLo-9ln7yrWRPAKyYGcA="
                  alt="HTML tutorial"
                  style="width: 100px; height: 80px"
              /></a>
            </div>
            <button>Save Recipe</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
