<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Recipe</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="http://">Home</a>
      <a href="http://">My Dashboard</a>
      <a href="http://">Add a Recipe</a>
    </div>
    <div class="container">
      <textarea
        name="recipe-name"
        class="create-recipe"
        id="recipe-name"
        cols="30"
        rows="1"
      >
${Recipe Name}</textarea
      >
      <textarea
        name="recipe-image"
        class="create-recipe"
        id="recipe-image"
        cols="30"
        rows="1"
      >
${Picture}</textarea
      >
      <textarea
        name="ingredients"
        class="create-recipe"
        id="ingredients"
        cols="30"
        rows="10"
      >
${Recipe Ingredients}</textarea
      >
      <textarea
        name="instructions"
        id="instructions"
        cols="30"
        rows="10"
        class="create-recipe"
      >
${Recipe Ingredients}</textarea
      >
      <textarea
        name="family-story"
        id="family-story"
        cols="30"
        rows="10"
        class="create-recipe"
      >
${Family Story}</textarea
      >
      <button type="submit" class="create-recipe" id="create-recipe-submit">
        Submit
      </button>
    </div>
  </body>
</html>
